<nav class="navbar navbar-dark bg-dark ">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <a class="navbar-brand" href="cms">
      <img
        src="../../../../../../../assets/imgs/Logov5 (1).png"
        class="me-2"
        height="20"
        alt=""
        loading="lazy"
      />
    </a>
    <h1 id="linkProducto">Funciones</h1>

    <a
      id="linkCrearProducto"
      class="nav-link"
      routerLink="./crear"
      routerLinkActive="active"
      >Crear Funciones</a
    >
    <a
      id="linkListarProducto"
      class="nav-link"
      routerLink="./listar"
      routerLinkActive="active"
      >Listar Funciones</a
    >
  </div>
</nav>
<router-outlet></router-outlet>
