<!-- Just an image -->
<nav class="navbar navbar-dark sticky-top navbar-expand-lg" style="background-color: #18293b">
  <div class="container-fluid d-flex w-100 justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/imgs/Logov5 (1).png" height="35" alt="" loading="lazy" />
    </a>
    <!-- Si está logueado sale el avatar -->
  </div>
</nav>

<div class="container text-center">
  <i class="fab fa-searchengin fa-8x mb-4 mt-4"></i>
  <div class="bloque mb-11">
    <h1 class="fs-1">Oh! ¿Te has perdido?</h1>
    <h2>No se encuentra la página a la cual deseas acceder</h2>
    <h4>Vuelve al menú principal dando <a href="./home"> click aquí</a></h4>
    <div class="spinner-grow text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <h6 class="position-relative ">Error code: 404</h6>
  </div>
</div>


