@media (max-width: 576px) {
  .row{
  display: flex;
  flex-direction: column;
  align-items: center;

  }

}

.row{
  margin: 10px;
  .principal h2{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 8px;
    background: rgba( 24, 41, 59, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 18px;
    margin-bottom: 30px;
  }
}
h4{
  margin: 8px;
  text-align: center;
}

#esmeralda{
  font-size: 1.2em;
  color: #45CB85 ;
}
#zafiro{
  font-size: 1.2em;
  color: #4361ee;
}
#ruby{
 font-size: 1.2em;
 color: #e63946;
}

p{
  padding-top: 30px;
  padding: 30px;
  text-align: center;
  font-size: 1.5em;
}
