.containerPrincipal{
  width: 100%;
  height: auto;
  background-color: rgba(83,78,86,0.1);
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(246,211,101,0.5), rgba(159,162,254,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(246,211,101,0.5), rgba(159,162,254,0.5))
}

.bloque{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
th{
  padding: 10px;
  text-align: center;
}
td{
  text-align: center;
}
.tabla1{
  width: 100%;
  margin-bottom: 20px;
}
caption{
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #FEFBFB ;
}

@media screen and (max-width:768px) {
  .contenido{
    overflow: scroll;
  }
}
