<section class="sectionPerfil" *ngIf="cliente">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-lg-6 mb-4 mb-lg-0  bloqueCarta">
        <div class="card carta mb-3 h-100" style="border-radius: .5rem">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; height: 500px;">
              <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/14cb6b84808917.5d68451d7d126.gif"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <h5>Nombre </h5>
                <p style="margin: 0 5px 0 5px;" id="titulo">{{cliente.nombre}}</p>
                <br>
                <h5>Tipo Membresia </h5>
                <p> Membresia <span id="membresia"> {{cliente.tipoMembresia}} </span> </p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3 w-100">
                    <h6>Email</h6>
                    <p class="text-muted" id="titulo">{{cliente.email}}</p>
                  </div>
                </div>

                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3 w-100 text-center">
                    <h6 class="">Documento de Identidad</h6>
                    <p class="text-muted" id="titulo">{{cliente.documentoIdentidad}}</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between w-100 align-items-center">
                  <i class="fas fa-clover" style="background-color: #fdc500; padding: 5px; border-radius: 5px; "></i>
                  <i class="fas fa-clover" style="background-color: #fdc500; padding: 5px; border-radius: 5px; "></i>
                  <i class="fas fa-clover" style="background-color: #fdc500; padding: 5px; border-radius: 5px; "></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
