<!-- Footer -->
<footer class="text-center text-white" style="background-color: #162535 ;">
  <!-- Grid container -->
  <div class="container p-3">
    <!-- Section: Social media -->
    <section class="mb-2">
      <i> <img src="../../../../assets/imgs/Logov5 (1).png" alt="Logo" style="width: 100px;"></i>
    </section>
    <!-- Section: Social media -->
    <!-- Section: Text -->
    <section class="mb-2">
      <p>
        "Deseamos ser el lugar donde las personas acuden no solo para ver películas, sino también para vivir momentos inolvidables con amigos y familiares."
      </p>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://twitter.com/JDavDiaz" target="_blank">CINEMATIC'S</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
