<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
      background-image: url('https://www.adslzone.net/app/uploads-adslzone.net/2022/08/cartelera-cine.jpg');
      height: 300px;
    "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
      margin-top: -80px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    ">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Registrar Usuario</h2>
          <form [formGroup]="clienteForm" (ngSubmit)="crear()">
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Nombre Completo</label>
              <input type="text" id="form3Example3" class="form-control" validar formControlName="nombre"
                autocomplete="off" />
            </div>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" id="email" class="form-control" validar formControlName="email"
                    autocomplete="off" />
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="contrasena">Contraseña</label>
                  <input type="password" id="contrasena" class="form-control" validar formControlName="contrasena"
                    autocomplete="off" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="documento">Documento de Identidad (sin espacios ni puntos)</label>
                  <input type="number" id="documento" class="form-control" validar formControlName="documentoIdentidad"
                    autocomplete="off" />
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <mat-form-field>
                    <mat-label> Lista de Membresias</mat-label>
                    <mat-select validar formControlName="tipoMembresia">
                      <mat-option *ngFor="let membresia of membresias" [value]="membresia.value">
                        {{ membresia.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <mat-form-field color="accent" class="mb-5">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput validar [matDatepicker]="picker2" formControlName="fechaNacimiento" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>

            <!-- Email input -->

            <!-- Password input -->

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary bg-warning btn-block mb-4">
              Registrar Cliente
            </button>

            <!-- Register buttons -->
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
