.form-control{
  border-bottom: 1px solid black;
  border-radius: 10px;
}
mat-form-field {

  overflow: hidden;
  margin-right: 15px;
}

@media screen and (max-width: 320px) {
  .card{
    width: 100%;
  }
  mat-form-field {
    width: 100%;
  }

  .card{
    background-color: red;
    width: 150px;
  }
}
