<div class="row ">
  <div class="principal">
    <h2>"Adquirir una membresía en nuestro establecimiento de cine es la clave para experimentar el séptimo arte en su máxima expresión. Con esta membresía, accederás a una puerta de posibilidades ilimitadas: serás el primero en disfrutar de los emocionantes estrenos, evitando las largas filas y garantizando siempre un asiento privilegiado."</h2>
  </div>
  <div class="col-6 col-sm-4">
    <h4 id="esmeralda">MEMBRESIA ESMERALDA</h4>
    <img
      src="../../../../../../assets/imgs/esmeralda.jpg"
      class="img-fluid hover-shadow rounded"
      alt=""
    />
  </div>
  <div class="col-6 col-sm-4">
    <h4 id="zafiro">MEMBRESIA ZAFIRO</h4>
    <img
      src="../../../../../../assets/imgs/zafiro.jpg"
      class="img-fluid hover-shadow rounded"
      alt=""
    />
    <div class="informacion">

    </div>
  </div>
  <div class="col-6 col-sm-4">
    <h4 id="ruby">MEMBRESIA RUBY</h4>
    <img
      src="../../../../../../assets/imgs/ruby.jpg"
      class="img-fluid hover-shadow rounded"
      alt=""
    />
  </div>
  <p> ¿Que esperas? Ven ya por la tuya, arrima a nuestros establecimientos y solicita la compra de la membresia</p>
</div>
