
.container{
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.vidrio{
  display: flex;
  align-self: center;
  justify-content: center;
  height: 85%;
  width: 100%;
  background: rgba( 24, 41, 59, 0.6 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contenido{
  margin-top: 20px;
  margin-left: 10px;
  width: 95%;
}

.button{
  width: 780px;
  height: 80px;
  padding-right: 25px;
  margin-bottom: 15px;
}

@media screen and (max-width:767.98px) {
  .button{
    width: 450px;
    height: 45px;
  }
}
