<div class="container">
  <div class="vidrio">
    <div class="row gx-2 justify-content-between contenido" style="color: white; font-size: 2em">
      <div class="col-lg-4 col-md-6 peli">
        <h4>Imagen Portada</h4>
        <img [src]="funcion.pelicula.imagenPortada" alt="pelicula" style="width: 180px; height: 140px;">
      </div>
      <div class="col-lg-4 col-md-6 peli">
        <h4>Nombre pelicula</h4>
        <p>{{funcion.pelicula.nombrePelicula}}</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4>Sala</h4>
        <p> {{funcion.salaFuncion}} </p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4>Teatro</h4>
        <p>  {{funcion.nombreTeatro}}  </p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4>Dia Funcion</h4>
        <p>  {{funcion.diaFuncion | date}} </p>
        <h4>Hora Funcion</h4>
        <p>  {{funcion.horaFuncion}}  </p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4>Valor de Funcion</h4>
        <p>  {{funcion.valorFuncion | currency}}  <p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4>Categorias</h4>
        <h5>Audio: </h5>
        <p>  {{funcion.categoriaAudioFuncion}}  </p>
        <h5>Subtitulos: </h5>
        <p>  {{funcion.categoriaSubtitulosFuncion}}  </p>
        <h5>Visual: </h5>
        <p>  {{funcion.categoriaVisualFuncion}}  </p>
      </div>
      <button [routerLink]="['/reserva', funcion.pelicula.nombrePelicula, funcion.idFuncion]" class="btn btn-warning button"> Seleccionar </button>
    </div>
  </div>
</div>
