<div class="">
  <header>
    <h1>CMS - CINE</h1>
    <a href="/home" class="home"> Home</a>

    <a
      routerLink="registrarse"
      type="button"
      class="btn btn-outline-secondary"
      mdbRipple
      rippleColor="dark"
    >
      Registrar Cliente
    </a>
  </header>
  <nav>
    <ul>
      <li><a routerLink="peliculas">Peliculas</a></li>
      <li><a routerLink="funciones">Funciones </a></li>
      <li><a routerLink="boletos">Boletos</a></li>
      <li><a routerLink="facturas">Facturas</a></li>
      <li><a routerLink="pagos">Pagos</a></li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
